# Ignore virtual environment directory
venv/

#Ignore dataset downloads and outputs
ptbxl_input/
samitrop_input/
physionet.org/

samitrop_output/
ptbxl_output/

samitrop_train/

dataset/train/
dataset/val/

holdout_data/
val_outputs/

holdout_outputs/

HearHeart/